body{
    font-family: verdana;
    font-size: 2em;
    background-color: darkcyan;
    display: column;
    justify-self: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#mypay{
    font-size: 1em;
}

